@model IEnumerable<BlogHost.Data.Models.Publication>
@{
    ViewData["Title"] = "AllPosts";
}

<div>
    <h1 class="text-center">AllPosts</h1>

    <a class="btn btn-sm btn-primary text-center" asp-controller="Publication" asp-action="AllPosts" asp-route-flag="@true">Показать любимые</a>
    <br />
</div><br />



@foreach (var post in Model)
{
    <div class="card bg-dark text-white">
        <img style="height:300px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(@post.AvatarPost))" alt="" class="card-img" />
        <div class="card-img-overlay">
            <h5 class="card-title">@post.PublicationName</h5>
            <p class="card-text">@post.Discription</p>
            <p class="card-text">@post.DatePublication</p>
            <p class="card-text"><a class="text-white font-weight-bold" asp-controller="Publication" asp-action="Post" asp-route-id="@post.Id">Continue reading...</a></p>
        </div>
    </div>
    <br />
}
