@model BlogHost.Data.Models.User

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<p>@User.Identity.Name</p>

<table class="table">
    <tr><th>Логин</th><th>Имя</th><th>Фамилия</th><th>Email</th><th>Год</th><th>пол</th><th>Дата регистрации</th><th>Профессия</th><th></th></tr>
    <tr>
        <td>@Model.UserName</td>
        <td>@Model.Name</td>
        <td>@Model.SecondName</td>
        <td>@Model.Email</td>
        <td>@Model.Year</td>
        <td>@Model.Gender</td>
        <td>@Model.DateRegistration</td>
        <td>@Model.Profession</td>
    </tr>
    <tr>
        <td>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Редактировать профиль</a>
                <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@Model.Id">Сменить пароль</a>
                <button type="submit" class="btn btn-sm btn-danger">
                    Удалить
                </button>
            </form>
        </td>
    </tr>
</table>
